In [84]:
%%time
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("darkgrid",{"axes.facebolor":"0.90"})
sns.set_context("notebook", font_scale=1.5, rc={"lines.linewidth":2.5})
import datetime as dt
from datetime import datetime
today=datetime.today()
#usa_fetcher 
import usa_fetcher
usa_fetcher.usa_fetch()

df=pd.read_csv(f"usa_{today.strftime('%b-%d-%Y')}.csv")
display(df.info())

File ~ usa_Jan-18-2022.csv ~ Already Exists
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 740 entries, Unnamed: 0 to 1/17/22
dtypes: float64(3), int64(731), object(6)
memory usage: 18.9+ MB

None

Wall time: 344 ms

In [85]:
# df=df.rename(columns={"Admin2":"County"})

In [87]:
df.Admin2.nunique()

1980

In [88]:
non_death_col=['Unnamed: 0','UID','iso2','iso3','code3','FIPS','Admin2','Province_State','Country_Region','Lat','Long_','Combined_Key','Population']

In [90]:
sf=df[df.Admin2 == 'San Francisco']
sf

,Unnamed: 0,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,...,1/8/22,1/9/22,1/10/22,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22
235,235,84006075,US,USA,840,6075.0,San Francisco,California,US,37.752151,...,690,690,690,690,691,691,692,692,692,694

In [101]:
sf_deaths=sf.drop(non_death_col,axis=1)
sf_deaths.T.columns = ["deaths"]

In [114]:
sf_deaths.iloc[:,-1]

235    694
Name: 1/17/22, dtype: int64

In [22]:
df.head()

,Unnamed: 0,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,...,1/8/22,1/9/22,1/10/22,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22
0,0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,...,162,162,162,162,162,162,162,162,163,163
1,1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,...,603,603,603,603,603,603,603,603,605,605
2,2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,...,83,83,83,83,83,83,83,83,83,83
3,3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,...,95,95,95,95,95,95,95,95,95,95
4,4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,...,202,202,202,202,202,202,202,202,203,203

In [34]:
'San Francisco' in df.Admin2

False

In [38]:
# RELEVANT COLUMNS for examination
for i,x in enumerate(df.columns):
    print(f"'{x}'",end=',')
    if i == 12:
        break

'Unnamed: 0','UID','iso2','iso3','code3','FIPS','Admin2','Province_State','Country_Region','Lat','Long_','Combined_Key','Population',

In [40]:
rel_cols=['iso2','iso3','code3','FIPS','Admin2','Province_State','Country_Region','Lat','Long_','Combined_Key','Population']

In [49]:
df[df[rel_cols]['Province_State'] == 'California']['Admin2'].value_counts()

Alameda            1
Alpine             1
Plumas             1
Riverside          1
Sacramento         1
San Benito         1
San Bernardino     1
San Diego          1
San Francisco      1
San Joaquin        1
San Luis Obispo    1
San Mateo          1
Santa Barbara      1
Santa Clara        1
Santa Cruz         1
Shasta             1
Sierra             1
Siskiyou           1
Solano             1
Sonoma             1
Stanislaus         1
Sutter             1
Tehama             1
Trinity            1
Tulare             1
Tuolumne           1
Unassigned         1
Ventura            1
Yolo               1
Placer             1
Out of CA          1
Orange             1
Kern               1
Amador             1
Butte              1
Calaveras          1
Colusa             1
Contra Costa       1
Del Norte          1
El Dorado          1
Fresno             1
Glenn              1
Humboldt           1
Imperial           1
Inyo               1
Kings              1
Nevada             1
Lake               1
Lassen             1
Los Angeles        1
Madera             1
Marin              1
Mariposa           1
Mendocino          1
Merced             1
Modoc              1
Mono               1
Monterey           1
Napa               1
Yuba               1
Name: Admin2, dtype: int64

In [30]:
# df.columns[-1]

'1/17/22'

In [11]:
# %%time
# del df['UID']
# del df['iso2']
# del df['iso3']
# del df['code3']
# del df['FIPS']
# del df['Combined_Key']
# del df['Lat'] 
# del df['Long_']
# del df['Unnamed: 0']
# #video got rid of all non-date columns
# # Province_State	Country_Region	Population
# del df['Province_State']
# del df['Country_Region']
# del df['Population']

# # df.set_index("Admin2",inplace=True)

Wall time: 6.98 ms

In [15]:
df.columns

Index(['Admin2', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20',
       '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       ...
       '1/8/22', '1/9/22', '1/10/22', '1/11/22', '1/12/22', '1/13/22',
       '1/14/22', '1/15/22', '1/16/22', '1/17/22'],
      dtype='object', length=728)

In [20]:
df['1/17/22'].sum()

851730

In [118]:
today2=today.strftime("%D")
display(today2)
yesterday=today-dt.timedelta(1)
yesterday=yesterday.strftime("%D")
display(yesterday)

'01/10/22'

'01/09/22'

'01/09/22'

In [120]:
df.columns

Index(['Unnamed: 0', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20',
       '1/27/20', '1/28/20', '1/29/20', '1/30/20',
       ...
       '12/31/21', '1/1/22', '1/2/22', '1/3/22', '1/4/22', '1/5/22', '1/6/22',
       '1/7/22', '1/8/22', '1/9/22'],
      dtype='object', length=720)

In [83]:
df.T

Admin2,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,Cherokee,...,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Unassigned,Washakie,Weston
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/5/22,161,594,81,95,198,46,102,532,147,66,...,121,37,63,24,110,14,34,0,39,16
1/6/22,161,598,83,95,198,46,102,532,147,66,...,121,37,63,24,110,14,34,0,39,16
1/7/22,162,601,83,95,199,46,102,533,147,66,...,121,37,63,24,110,14,34,0,39,16
1/8/22,162,603,83,95,202,46,102,535,147,66,...,121,37,63,24,110,14,34,0,39,16
1/9/22,162,603,83,95,202,46,102,535,147,66,...,121,37,63,24,110,14,34,0,39,16

In [1]:
df[str(today.strftime("%D"))]

In [2]:
for i,x in enumerate(df_raw.columns):
    print(x,",")
    if i == 12:
        break

NameError: name 'df_raw' is not defined

In [ ]:
df.tail()

In [ ]:
df.columns

In [3]:
display(len(df.T.columns))
display(df.T.columns)

NameError: name 'df' is not defined

In [4]:
df.sort_index()

NameError: name 'df' is not defined

In [5]:
# for x in df.T.sort_index():
#     print(x)

In [6]:
# for x in df.T.columns:
#     print(x)